body {
  width: 100vw;
  height: 100vh;
  /* no quiero que la pagina tenga scroll de ningun tipo por eso pongo overflow hidden  */
  overflow: hidden;
  background-color: rgb(6, 14, 41);
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 1rem;
}

header section.logo {
  width: 50%;
  color: rgb(204, 222, 255);
  font-family: "Cinzel Decorative", cursive;
  font-weight: 600;
  font-size: 1rem;
}

header nav {
  margin-right: 30px;
  display: flex;
  justify-content: right;
  gap: 1rem;
  width: 49%;
  align-items: center;
}

header nav button {
  padding: 5px;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
  background-color: transparent;
  border: 3px solid rgb(49, 75, 163);
  border-radius: 10px;
}

header nav button:hover {
  background-color: rgb(49, 75, 163);
  transition: 0.3s;
}

section.background-img {
  width: 100vw;
  height: 66vh;
  position: relative;
}

section.background-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

main div.interact {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 50vh;
}

section.info {
  background-color: rgb(139, 97, 41);
  margin: 4vh;
  padding: 3vh;
  border-radius: 1rem;
  color: white;
  font-family: "Macondo", cursive;
  font-size: 1.5rem;
  border: 10px solid rgb(233, 187, 128);
}

section.info ul {
  list-style-type: none;
}

section.info ul li a {
  color: rgb(218, 195, 240);
  text-decoration: none;
}

section.info h2 a {
  text-decoration: none;
  color: white;
}

section.info ul li a:hover {
  text-decoration: underline;
}

div.menu-container {
  margin: auto;
}

section.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 30vh;
  height: 30vh;
  border: solid 10px rgb(160, 128, 85);
  border-radius: 100%;
  /* background-color: rgb(233, 187, 128); */
  background: radial-gradient(
    farthest-corner at 2rem 2rem,
    rgb(255, 211, 155) 50%,
    rgb(139, 97, 41),
    rgb(63, 45, 22) 120%
  );
}

section.menu button {
  font-size: 5vh;
  background-color: transparent;
}

section.menu button:hover {
  transform: scale(1.5);
  transition: 0.1s;
}

section.menu button.up {
  grid-column: 2;
  grid-row: 1;
}

section.menu button.left {
  grid-column: 1;
  grid-row: 2;
}

section.menu button.down {
  grid-column: 2;
  grid-row: 3;
}

section.menu button.right {
  grid-column: 3;
  grid-row: 2;
}

button {
  cursor: pointer;
}

section.command {
  background-color: rgb(139, 97, 41);
  margin: 4vh;
  padding: 3vh;
  border-radius: 1rem;
  color: white;
  font-family: "Macondo", cursive;
  font-size: 1.5rem;
  border: 10px solid rgb(233, 187, 128);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
}

section.command div.history h2 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 5px;
}

section.command div.history div {
  background-color: rgb(255, 213, 159);
  color: rgb(26, 26, 26);
  padding: 1rem;
  border-radius: 10px;
}

section.command div.history div ul {
  list-style-type: none;
  height: fit-content;
  max-height: 21vh;
  overflow: auto;
  scrollbar-color: #ffd59f #c49961;
}

section.command div.history div ul li {
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
}

section.command input {
  padding: 1vh;
  border-radius: 10px;
  background-color: antiquewhite;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

main section.npc {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  object-position: center;
}

header {
  z-index: 1;
  position: relative;
}

main section.npc img {
  display: block;
  /* aspect-ratio: auto; */
  object-fit: fill;
  height: 80vh;
}

section.info ul.material img {
  width: 40px;
}
