/* estilo principal de toda la pagina */
body {
  /* ajusta el tamaño de la pagina al mismo de la ventana  */
  width: 100vw;
  height: 100vh;
  /* no quiero que la pagina tenga scroll de ningun tipo por eso pongo overflow hidden  */
  overflow: hidden;
  background-color: rgb(6, 14, 41);
}

/* hace que todos los botones de la pagina transformen el cursor al pasarlo por encima  */
button {
  cursor: pointer;
}

/* estilo del header  */
header {
  /* el flex distribuye la seccion con el titulo/logo y el navbar  */
  display: flex;
  /* hace que exista el mayor espacio posible entre la seccion con el titulo/logo y el navbar */
  justify-content: space-between;
  /* anchura para que ocupe toda la pagina  */
  /* width 100% ignora el margen derecho del header pero con width auto si lo tiene en cuenta*/
  width: auto;
  /* mueve el titulo ligeramente abajo para que este mas en el centro  */
  align-items: center;
  margin: 1rem;
}

/* estilo del titulo/logo  */
header section.logo {
  /* color del titulo */
  color: rgb(204, 222, 255);
  /* personalizacion de la fuente del titulo */
  font-family: "Cinzel Decorative", cursive;
  font-weight: 600;
  font-size: 1rem;
}

/* estilo del navbar */
header nav {
  /* distribuye los botones del nav para que aparezca como una barra  */
  display: flex;
  /* establece un hueco entre los botones  */
  gap: 1rem;
}

/* estilo de los botones del navbar  */
header nav button {
  /* aumenta el espacio que ocupan los botones  */
  padding: 5px;
  /* personalizacion de la fuente de los botones */
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
  /* elimina el fondo de los botones para que usen el mismo color que hay en el fondo  */
  background-color: transparent;
  /* establece el estilo del borde de los botones (color, anchura y curvatura)  */
  border: 3px solid rgb(49, 75, 163);
  border-radius: 10px;
}

/* establece el efecto de los botones cuando se pasa el raton por encima  */
header nav button:hover {
  /* cambia el color de fondo  */
  background-color: rgb(49, 75, 163);
  /* establece el tiempo que dura la transicion del efecto  */
  transition: 0.3s;
}

/* estilo de la seccion que incluye la imagen que se muestra de fondo  */
section.background-img {
  /* establece una altura fija de 2/3 de la pantalla */
  height: 66vh;
  /* position se usara mas adelante para ordenar el resto de los elementos de la pagina  */
  position: relative;
}

/* estilo de la imagen de fondo  */
section.background-img img {
  /* obliga a la imagen a ocupar toda la anchura de la pantalla  */
  min-width: 100%;
  /* ajusta el espacio que ocupa verticalmente al contenedor en el que esta  */
  height: 100%;
  /* oculta el resto de la imagen que no entra y mantiene el aspect ratio  */
  object-fit: cover;
}

/* estilo de las secciones de interaccion/informacion  */
main div.interact {
  /* distribuye los elementos que hay como una cuadricula  */
  display: grid;
  /* los elementos se distribuyen de manera que hay 4 "columnas": el central ocupa 2 y los de los extremos ocupan 1 */
  grid-template-columns: 1fr 2fr 1fr;
  /* hace que la seccion se ajuste horizontalmente a la ventana  */
  min-width: 100%;
  /* ajusta la altura 1/2 de la ventana  */
  height: 50vh;
  /* permite que todo el contenedor exista por encima de la imagen de fondo  */
  position: absolute;
  /* ajusta el contenedor para que empiece a partir de la mitad de la pantalla */
  top: 50vh;
}

/* estilo del contenedor con informacion del heroe y la seccion con historial e input  */
section.info-mc,
section.command {
  /* establece el color de fondo  */
  background-color: rgb(139, 97, 41);
  /* crea espacio alrededor del borde del contenedor  */
  margin: 4vh;
  padding: 3vh;
  /* personalizacion del borde  */
  border: 10px solid rgb(233, 187, 128);
  border-radius: 1rem;
  /* personalizacion de la fuente del contenido de la seccion */
  color: white;
  font-family: "Macondo", cursive;
  font-size: 1.5rem;
  /* distribuye los elementos para que exista el mayor espacio posible entre ambos  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* estilo de las secciones de info con atributos del personaje y enemigo  */
section.info-mc div,
section.info-npc {
  /* estilo del nombre del enemigo/personaje principal */
  h2 {
    margin-bottom: 1vh;
    a {
      color: white;
    }
  }
  /* estilo de la lista de atributos del enemigo/personaje principal */
  ul {
    /* hace que los atributos aparezcan en una columna de elementos  */
    display: flex;
    flex-direction: column;
    /* establece un hueco entre los elementos  */
    gap: 1vh;
    /* estilo de los enlaces del nombre de cada atributo  */
    a {
      /* cambia el color del texto  */
      color: rgb(218, 195, 240);
    }
    /* añade un efecto de subrayado al pasar el raton por encima de los atributos  */
    a:hover {
      text-decoration: underline;
    }
  }
}

/* estilo del menu utilizado para mover al personaje */
div.dpad-container {
  /* establece el margen automatico para que este en el centro del hueco del grid reservado  */
  margin: auto;
}

section.dpad {
  /* crea una cuadricula de 9 huecos (3x3)  */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* establece la altura y anchura de los botones segun el tamaño de la pantalla  */
  width: 30vh;
  height: 30vh;
  /* establece el diseño del borde del menu  */
  border: solid 10px rgb(160, 128, 85);
  border-radius: 100%;
  /* crea un fondo con un efecto de gradiente  */
  background: radial-gradient(
    farthest-corner at 2rem 2rem,
    rgb(255, 211, 155) 50%,
    rgb(139, 97, 41),
    rgb(63, 45, 22) 120%
  );
}

/* estilo de los botones direccionales del menu */
section.dpad button {
  /* cambia el tamaño de las flechas */
  font-size: 5vh;
  /* elimina el color de fondo  */
  background-color: transparent;
}

/* añade un efecto de agrandamiento progresivo cuando se pasa el cursor por encima de los botones  */
section.dpad button:hover {
  transform: scale(1.5);
  transition: 0.1s;
}

/* posicionamiento de los botones  */
/*
ESQUEMA:
       1     2     3
    +-----+-----+-----+
  1 |     |  ↑  |     |
    +-----+-----+-----+
  2 |  ←  |     |  →  |
    +-----+-----+-----+
  3 |     |  ↓  |     |
    +-----+-----+-----+
*/
/* posicion del boton con la flecha hacia arriba */
section.dpad button.up {
  grid-column: 2;
  grid-row: 1;
}

/* posicion del boton con la flecha hacia la izquierda */
section.dpad button.left {
  grid-column: 1;
  grid-row: 2;
}

/* posicion del boton con la flecha hacia abajo */
section.dpad button.down {
  grid-column: 2;
  grid-row: 3;
}

/* posicion del boton con la flecha hacia la derecha */
section.dpad button.right {
  grid-column: 3;
  grid-row: 2;
}

/* estilo del titulo del historial  */
section.command div.history h2 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 5px;
}

/* estilo del historial  */
section.command div.history div {
  /* cambia el color de fondo y el de la letra */
  background-color: rgb(255, 213, 159);
  color: rgb(26, 26, 26);
  /* añade relleno por los bordes  */
  padding: 1rem;
  /* redondea los bordes del menu  */
  border-radius: 10px;
}

/* estilo de la lista de eventos del historial  */
section.command div.history div ul {
  /* establece la altura para la lista de eventos */
  height: 21vh;
  /* hace que si hay muchos elementos se oculten y solo se puedan ver al desplazar la scrollbar  */
  overflow: auto;
  /* cambia los colores de la scrollbar  */
  scrollbar-color: rgb(255, 213, 159) #c49961;
}

/* estilo de cada elemento de la lista del historial  */
section.command div.history div ul li {
  /* cambia el tamaño de la letra  */
  font-size: 1.1rem;
  /* cambia el tipo de fuente de letra  */
  font-family: "Open Sans", sans-serif;
  /* añade espacio por debajo de cada elemento para separarlos  */
  margin-bottom: 5px;
}

/* estilo del input para introducir comandos  */
section.command input {
  /* añade relleno en los bordes  */
  padding: 1vh;
  /* redondea los bordes del input  */
  border-radius: 10px;
  /* cambia el color de fondo */
  background-color: antiquewhite;
  /* cambia el tamaño de la letra  */
  font-size: 1rem;
  /* cambia el tipo de fuente de letra  */
  font-family: "Open Sans", sans-serif;
}

/* estilo del contenedor con la imagen del enemigo  */
main section.img-npc {
  /* establece la posicion por encima de la imagen de fondo y por debajo de las secciones de interaccion e informacion */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* establece la altura de la imagen del enemigo  */
main section.img-npc img {
  height: 80vh;
}

/* establece el tamaño de las imagenes de dinero y pociones  */
section.info-mc ul.object img {
  width: 40px;
}

/* posiciona los contadores de dinero y pociones horizontalmente y para que ambos tengan el mismo espacio por los lados  */
section.info-mc ul.object {
  display: flex;
  justify-content: space-around;
}

/* estilo de la seccion con informacion del enemigo */
section.info-npc {
  /* ajusta la posicion para que esté fuera y por encima de su contenedor  */
  position: absolute;
  top: -80%;
  /* establece margen y relleno para generar espacio en los bordes  */
  margin: 4vh;
  padding: 3vh;
  /* cambia el color de la letra  */
  color: white;
  /* cambia el tipo de letra  */
  font-family: "Macondo", cursive;
  /* cambia el tamaño de la letra  */
  font-size: 1.5rem;
  /* añade un efecto de sombra a las letras  */
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black, 0 0 40px black;
  /* cambia la disposicion de los elementos para ordenarlos y generar espacio entre cada uno  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2vh;
}

/* estilo del indicador de tipo de enemigo  */
section.info-npc p {
  /* cambia el color de la letra  */
  color: rgb(255, 65, 65);
  /* disminuye la distancia entre el nombre y el subtitulo con el tipo  */
  margin-top: -20%;
}
