/* estilo principal de toda la pagina */
body {
  /* ajusta el tamaño de la pagina al mismo de la ventana  */
  width: 100vw;
  height: 100vh;
  /* no quiero que la pagina tenga scroll de ningun tipo por eso pongo overflow hidden  */
  overflow: hidden;
  background-color: rgb(6, 14, 41);
}

/* hace que todos los botones de la pagina transformen el cursor al pasarlo por encima  */
button {
  cursor: pointer;
}

/* estilo de la seccion que incluye la imagen que se muestra de fondo  */
section.background-img {
  /* establece una altura fija de 2/3 de la pantalla */
  height: 66vh;
  /* position se usara mas adelante para ordenar el resto de los elementos de la pagina  */
  position: relative;
}

/* estilo de la imagen de fondo  */
section.background-img img {
  /* obliga a la imagen a ocupar toda la anchura de la pantalla  */
  min-width: 100%;
  /* ajusta el espacio que ocupa verticalmente al contenedor en el que esta  */
  height: 100%;
  /* oculta el resto de la imagen que no entra y mantiene el aspect ratio  */
  object-fit: cover;
}

/* estilo de las secciones de interaccion/informacion  */
main div.interact {
  /* distribuye los elementos que hay como una cuadricula  */
  display: grid;
  /* los elementos se distribuyen de manera que hay 4 "columnas": el central ocupa 2 y los de los extremos ocupan 1 */
  grid-template-columns: 1fr 2fr 1fr;
  /* hace que la seccion se ajuste horizontalmente a la ventana  */
  min-width: 100%;
  /* ajusta la altura 1/2 de la ventana  */
  height: 50vh;
  /* permite que todo el contenedor exista por encima de la imagen de fondo  */
  position: absolute;
  /* ajusta el contenedor para que empiece a partir de la mitad de la pantalla */
  top: 50vh;
}
